TalentMaintenance/App_WebReferences/Loyalty/Loyalty.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/TradingPortal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/TradingPortal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/TradingPortal">
      <s:element name="AddLoyaltyPointsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLoyaltyPointsRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddLoyaltyPointsRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddLoyaltyPointsRequestSoapIn">
    <wsdl:part name="parameters" element="tns:AddLoyaltyPointsRequest" />
  </wsdl:message>
  <wsdl:message name="AddLoyaltyPointsRequestSoapOut">
    <wsdl:part name="parameters" element="tns:AddLoyaltyPointsRequestResponse" />
  </wsdl:message>
  <wsdl:message name="AddLoyaltyPointsRequestHttpGetIn">
    <wsdl:part name="loginId" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="company" type="s:string" />
    <wsdl:part name="XMLString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddLoyaltyPointsRequestHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddLoyaltyPointsRequestHttpPostIn">
    <wsdl:part name="loginId" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="company" type="s:string" />
    <wsdl:part name="XMLString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddLoyaltyPointsRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="LoyaltySoap">
    <wsdl:operation name="AddLoyaltyPointsRequest">
      <wsdl:input message="tns:AddLoyaltyPointsRequestSoapIn" />
      <wsdl:output message="tns:AddLoyaltyPointsRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoyaltyHttpGet">
    <wsdl:operation name="AddLoyaltyPointsRequest">
      <wsdl:input message="tns:AddLoyaltyPointsRequestHttpGetIn" />
      <wsdl:output message="tns:AddLoyaltyPointsRequestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoyaltyHttpPost">
    <wsdl:operation name="AddLoyaltyPointsRequest">
      <wsdl:input message="tns:AddLoyaltyPointsRequestHttpPostIn" />
      <wsdl:output message="tns:AddLoyaltyPointsRequestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoyaltySoap" type="tns:LoyaltySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLoyaltyPointsRequest">
      <soap:operation soapAction="http://localhost/TradingPortal/AddLoyaltyPointsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoyaltySoap12" type="tns:LoyaltySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLoyaltyPointsRequest">
      <soap12:operation soapAction="http://localhost/TradingPortal/AddLoyaltyPointsRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoyaltyHttpGet" type="tns:LoyaltyHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddLoyaltyPointsRequest">
      <http:operation location="/AddLoyaltyPointsRequest" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoyaltyHttpPost" type="tns:LoyaltyHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddLoyaltyPointsRequest">
      <http:operation location="/AddLoyaltyPointsRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Loyalty">
    <wsdl:port name="LoyaltySoap" binding="tns:LoyaltySoap">
      <soap:address location="http://localhost:62691/TalentSupplyNet/Loyalty.asmx" />
    </wsdl:port>
    <wsdl:port name="LoyaltySoap12" binding="tns:LoyaltySoap12">
      <soap12:address location="http://localhost:62691/TalentSupplyNet/Loyalty.asmx" />
    </wsdl:port>
    <wsdl:port name="LoyaltyHttpGet" binding="tns:LoyaltyHttpGet">
      <http:address location="http://localhost:62691/TalentSupplyNet/Loyalty.asmx" />
    </wsdl:port>
    <wsdl:port name="LoyaltyHttpPost" binding="tns:LoyaltyHttpPost">
      <http:address location="http://localhost:62691/TalentSupplyNet/Loyalty.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>