TalentSupplyNet/Documents/XSD/Requests/AddCustomerAssociationsRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddCustomerAssociationsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustomerAssociationAdd">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomerNumber" type="xs:string" />
              <xs:element name="FriendsAndFamilyID" type="xs:string" />
              <xs:element name="FriendsAndFamilyMode" type="xs:string" />
              <xs:element name="Surname" />
              <xs:element name="Postcode" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>