TalentSupplyNet/Documents/XSD/Requests/AddPPSEnrolmentRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddPPSEnrolmentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AddPPSEnrolment">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PPSEnrolment">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="CustomerNo" type="xs:unsignedInt" />
                    <xs:element name="PaymentDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CreditCard">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CardNumber" type="xs:unsignedLong" />
                                <xs:element name="ExpiryDate" type="xs:unsignedLong" />
                                <xs:element name="StartDate" type="xs:unsignedLong" />
                                <xs:element name="IssueNumber" type="xs:unsignedLong" />
                                <xs:element name="CV2Number" type="xs:unsignedLong" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DirectDebit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AccountName" type="xs:string" />
                                <xs:element name="SortCode" type="xs:unsignedInt" />
                                <xs:element name="AccountCode" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="PPSScheme">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ProductCode" type="xs:string" />
                          <xs:element name="SeasonTicketSeat" type="xs:string" />
                          <xs:element name="RegisteredPost" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>