TalentSupplyNet/Documents/XSD/Requests/AddTicketingItemsRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddTicketingItemsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SessionID" type="xs:string" />
              <xs:element name="ProductCode" type="xs:string" />
              <xs:element name="StandCode" type="xs:string" />
              <xs:element name="AreaCode" type="xs:string" />
              <xs:element name="CustomerNumber" type="xs:string" />
              <xs:element name="ExcludeRestrictedSeats" type="xs:string" />
              <xs:element name="DefaultPrice" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PriceBand" type="xs:string" />
              <xs:element name="Quantity" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>