TalentSupplyNet/Documents/XSD/Requests/AmendBasketRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AmendBasketRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProcessingOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReplaceBasket"  type="xs:string" />
              <xs:element name="AddToBasket"  type="xs:string" />
              <xs:element name="DeleteBasket"  type="xs:string" />
              <xs:element name="DeleteFromBasket"  type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BasketHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BusinessUnit" type="xs:string" />
              <xs:element name="Partner" type="xs:string" />
              <xs:element name="UserID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="BasketLine">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Product" type="xs:string" />
              <xs:element name="Quantity" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>