TalentSupplyNet/Documents/XSD/Requests/CompletePNARequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CompletePNARequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:unsignedInt" />
              <xs:element name="ReceiverID" type="xs:unsignedInt" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PNAInformation">
          <xs:complexType>
            <xs:attribute name="ReservedInventory" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Warehouses">
          <xs:complexType>
            <xs:sequence>
              <xs:element  minOccurs="0"  maxOccurs="5" name="Warehouse" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ShowDetail" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>