TalentSupplyNet/Documents/XSD/Requests/CustomerAddRequest11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerAddRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Defaults">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BusinessUnit" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustomerAdd">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Sites">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Site" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="AccountNumber1" />
                          <xs:element name="AccountNumber2" />
                          <xs:element name="AccountNumber3" />
                          <xs:element name="AccountNumber4" />
                          <xs:element name="AccountNumber5" />
                          <xs:element name="Address">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Line1" type="xs:string" />
                                <xs:element name="Line2" type="xs:string" />
                                <xs:element name="Line3" type="xs:string" />
                                <xs:element name="Line4" type="xs:string" />
                                <xs:element name="Line5" type="xs:string" />
                                <xs:element name="PostCode" type="xs:string" />
                                <xs:element name="Country" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TelephoneNumber" />
                          <xs:element name="FaxNumber" />
                          <xs:element name="VATNumber" />
                          <xs:element name="URL" />
                          <xs:element name="ID" />
                          <xs:element name="CRMBranch" />
                          <xs:element name="Contacts">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Contact" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Title" type="xs:string" />
                                      <xs:element name="Initials" type="xs:string" />
                                      <xs:element name="Forename" type="xs:string" />
                                      <xs:element name="Surname" type="xs:string" />
                                      <xs:element name="FullName" type="xs:string" />
                                      <xs:element name="Salutation" type="xs:string" />
                                      <xs:element name="MothersName" type="xs:string" minOccurs="0" />
                                      <xs:element name="FathersName" type="xs:string" minOccurs="0" />
                                      <xs:element name="EmailAddress" type="xs:string" />
                                      <xs:element name="LoginID" />
                                      <xs:element name="Password" />
                                      <xs:element name="AccountNumber1" />
                                      <xs:element name="AccountNumber2" />
                                      <xs:element name="AccountNumber3" />
                                      <xs:element name="AccountNumber4" />
                                      <xs:element name="AccountNumber5" />
                                      <xs:element name="Addresses">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Address" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="SequenceNumber" type="xs:unsignedByte" />
                                                  <xs:element name="Default" type="xs:string" />
                                                  <xs:element name="Reference" type="xs:string" />
                                                  <xs:element name="Line1" type="xs:string" />
                                                  <xs:element name="Line2" type="xs:string" />
                                                  <xs:element name="Line3" type="xs:string" />
                                                  <xs:element name="Line4" type="xs:string" />
                                                  <xs:element name="Line5" type="xs:string" />
                                                  <xs:element name="PostCode" type="xs:string" />
                                                  <xs:element name="Country" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Total" type="xs:unsignedByte" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Position" type="xs:string" />
                                      <xs:element name="Gender" type="xs:string" />
                                      <xs:element name="TelephoneNumber1" type="xs:string" />
                                      <xs:element name="TelephoneNumber2" />
                                      <xs:element name="TelephoneNumber3" />
                                      <xs:element name="TelephoneNumber4" />
                                      <xs:element name="TelephoneNumber5" />
                                      <xs:element name="DateOfBirth" type="xs:unsignedInt" />
                                      <xs:element name="ContactViaMail" type="xs:string" />
                                      <xs:element name="HTMLNewsletter" type="xs:string" />
                                      <xs:element name="Subscription1" type="xs:string" />
                                      <xs:element name="Subscription2" type="xs:string" />
                                      <xs:element name="Subscription3" type="xs:string" />
                                      <xs:element name="MailFlag1" type="xs:string" />
                                      <xs:element name="ExternalId1" type="xs:string" />
                                      <xs:element name="ExternalId2" type="xs:string" />
                                      <xs:element name="MessagingID" />
                                      <xs:element name="Boolean1" />
                                      <xs:element name="Boolean2" />
                                      <xs:element name="Boolean3" />
                                      <xs:element name="Boolean4" />
                                      <xs:element name="Boolean5" />
                                      <xs:element name="ID" />
                                      <xs:element name="USERID1" minOccurs="0"/>
                                      <xs:element name="USERID2" minOccurs="0"/>
                                      <xs:element name="USERID3" minOccurs="0"/>
                                      <xs:element name="USERID4" minOccurs="0"/>
                                      <xs:element name="USERID5" minOccurs="0"/>
                                      <xs:element name="USERID6" minOccurs="0"/>
                                      <xs:element name="USERID7" minOccurs="0"/>
                                      <xs:element name="USERID8" minOccurs="0"/>
                                      <xs:element name="USERID9" minOccurs="0"/>
                                      <xs:element name="RestrictedPaymentTypes">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="PaymentType" />
                                          </xs:sequence>
                                          <xs:attribute name="Total" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Attributes">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Attribute" />
                                          </xs:sequence>
                                          <xs:attribute name="Total" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="LoyaltyPoints" />
                                      <xs:element name="IsLockedOut" type="xs:string" />
                                      <xs:element name="CustomerPurchaseHistory" type="xs:string" />
                                      <xs:element name="ContactSource" minOccurs="0" type="xs:string" />
                                      <xs:element name="ContactSuffix" minOccurs="0" type="xs:string" />
                                      <xs:element name="ContactNickName" minOccurs="0" type="xs:string" />
                                      <xs:element name="ContactUserName" minOccurs="0" type="xs:string" />
                                      <xs:element name="ContactSLAccount" minOccurs="0" type="xs:string" />
                                      <xs:element name="MinimalRegistration" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Total" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Total" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>