TalentSupplyNet/Documents/XSD/Requests/CustomerSearchRequest11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerSearchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustomerSearch">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ResultsLimit" />
              <xs:element name="Start" />
              <xs:element name="Length" />
              <xs:element name="SortOrder" />
              <xs:element name="Draw" />
              <xs:element name="CustomerNumber" />
              <xs:element name="Forename" type="xs:string" />
              <xs:element name="Surname" />
              <xs:element name="AddressLine1" minOccurs="0" />
              <xs:element name="AddressLine2" minOccurs="0" />
              <xs:element name="AddressLine3" minOccurs="0" />
              <xs:element name="AddressLine4" minOccurs="0"/>
              <xs:element name="Postcode" />
              <xs:element name="DOB" />
              <xs:element name="Email" minOccurs="0"/>
              <xs:element name="PhoneNumber" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>