TalentSupplyNet/Documents/XSD/Requests/CustRemittRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerRemittanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:unsignedInt" />
              <xs:element name="ReceiverID" type="xs:unsignedInt" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Remittances">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RemittanceHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompanyCode" type="xs:string" />
                    <xs:element name="BankAccountNo" type="xs:unsignedInt" />
                    <xs:element name="SOPorderNo" type="xs:string" />
                    <xs:element name="BankReference" type="xs:string" />
                    <xs:element name="PaymentMethod" type="xs:string" />
                    <xs:element name="PostingDate" type="xs:date" />
                    <xs:element name="CurrencyCode" type="xs:string" />
                    <xs:element name="CurrencyValue" type="xs:decimal" />
                    <xs:element name="ConfirmedBaseCurrencyValue" type="xs:decimal" />
                    <xs:element name="CustomerBankCode" type="xs:string" />
                    <xs:element name="ThirdPartyName" type="xs:string" />
                    <xs:element name="ThirdPartyAddressLine1" type="xs:string" />
                    <xs:element name="ThirdPartyAddressLine2" type="xs:string" />
                    <xs:element name="ThirdPartyAddressLine3" type="xs:string" />
                    <xs:element name="ThirdPartyAddressLine4" type="xs:string" />
                    <xs:element name="ThirdPartyAddressLine5" type="xs:string" />
                    <xs:element name="ThirdPartyPostcode" type="xs:string" />
                    <xs:element name="OriginatingAccountName" type="xs:string" />
                    <xs:element name="OurBankDetails" type="xs:string" />
                    <xs:element name="ThirdPartyCountry" type="xs:string" />
                    <xs:element name="OurBankCountryCode" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Header" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="RemittanceLines">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RemittanceLine">
                      <xs:complexType>
                        <xs:attribute name="LineNumber" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MasterItemType" type="xs:string" />
                    <xs:element name="LedgerEntryDocumentReference" type="xs:string" />
                    <xs:element name="PostingAmountPrime" type="xs:decimal" />
                    <xs:element name="DiscountAmountPrime" type="xs:decimal" />
                    <xs:element name="SuppliersReference" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>