TalentSupplyNet/Documents/XSD/Requests/CustomerUpdateRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustomerUpdate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomerNo" type="xs:string" />
              <xs:element name="ContactTitle" type="xs:string" />
              <xs:element name="ContactInitials" type="xs:string" />
              <xs:element name="ContactForename" type="xs:string" />
              <xs:element name="ContactSurname" type="xs:string" />
              <xs:element name="Salutation" type="xs:string" />
              <xs:element name="CompanyName" type="xs:string" />
              <xs:element name="PositionInCompany" type="xs:string" />
              <xs:element name="AddressLine1" type="xs:string" />
              <xs:element name="AddressLine2" type="xs:string" />
              <xs:element name="AddressLine3" type="xs:string" />
              <xs:element name="AddressLine4" type="xs:string" />
              <xs:element name="AddressLine5" type="xs:string" />
              <xs:element name="PostCode" type="xs:string" />
              <xs:element name="Gender" type="xs:string" />
              <xs:element name="HomeTelephoneNumber" type="xs:string" />
              <xs:element name="WorkTelephoneNumber" type="xs:string" />
              <xs:element name="MobileNumber" type="xs:string" />
              <xs:element name="EmailAddress" type="xs:string" />
              <xs:element name="DateOfBirth" type="xs:unsignedInt" />
              <xs:element name="ContactViaMail" type="xs:string" />
              <xs:element name="Subscription1" type="xs:string" />
              <xs:element name="Subscription2" type="xs:string" />
              <xs:element name="Subscription3" type="xs:string" />
              <xs:element name="ContactViaMail1" type="xs:string" minOccurs="0" />
              <xs:element name="ContactViaMail2" type="xs:string" minOccurs="0" />
              <xs:element name="ContactViaMail3" type="xs:string" minOccurs="0" />
              <xs:element name="ContactViaMail4" type="xs:string" minOccurs="0" />
              <xs:element name="ContactViaMail5" type="xs:string" minOccurs="0" />
              <xs:element name="MailFlag1" type="xs:string" minOccurs="0"/>
              <xs:element name="ExternalId1" type="xs:string" />
              <xs:element name="ExternalId2" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Attribute">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="action" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>