TalentSupplyNet/Documents/XSD/Requests/DTypeOrderRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DTypeOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderHeaderInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BillToSuffix" type="xs:string" />
              <xs:element name="ShipTo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Attention" type="xs:string" />
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="AddressLine1" type="xs:string" />
                    <xs:element name="AddressLine2" type="xs:string" />
                    <xs:element name="AddressLine3" type="xs:string" />
                    <xs:element name="AddressLine4" type="xs:string" />
                    <xs:element name="City" type="xs:string" />
                    <xs:element name="Province" type="xs:string" />
                    <xs:element name="PostalCode" type="xs:string" />
                    <xs:element name="CountryCode" type="xs:string" />
                    <xs:element name="CustomerPO" type="xs:string" />
                    <xs:element name="EndUserPO" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProcessingOptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CarrierCode" type="xs:string" />
                    <xs:element name="ShipmentOptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BackOrderFlag" type="xs:string" />
                          <xs:element name="ShipFromBranches" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BillTo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Attention" type="xs:string" />
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="AddressLine1" type="xs:string" />
                    <xs:element name="AddressLine2" type="xs:string" />
                    <xs:element name="AddressLine3" type="xs:string" />
                    <xs:element name="AddressLine4" type="xs:string" />
                    <xs:element name="City" type="xs:string" />
                    <xs:element name="Province" type="xs:string" />
                    <xs:element name="PostalCode" type="xs:string" />
                    <xs:element name="CountryCode" type="xs:string" />
                    <xs:element name="EmailAddress" type="xs:string" />
                    <xs:element name="PhoneNumber" type="xs:string" />
                    <xs:element name="ExtensionNumber" type="xs:string" />
                    <xs:element name="FaxNumber" type="xs:string" />
                    <xs:element name="VATNumber" type="xs:string" />
                    <xs:element name="AuthorizationNumber" type="xs:string" />
                    <xs:element name="PricingLevel" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ResellerInformation">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Attention" type="xs:string" />
                    <xs:element name="AddressLine1" type="xs:string" />
                    <xs:element name="AddressLine2" type="xs:string" />
                    <xs:element name="AddressLine3" type="xs:string" />
                    <xs:element name="AddressLine4" type="xs:string" />
                    <xs:element name="City" type="xs:string" />
                    <xs:element name="Province" type="xs:string" />
                    <xs:element name="PostalCode" type="xs:string" />
                    <xs:element name="CountryCode" type="xs:string" />
                    <xs:element name="EmailAddress" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderLineInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ProductLine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SKU" type="xs:string" />
                    <xs:element name="Quantity" type="xs:string" />
                    <xs:element name="CustomerLineNumber" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="CommentLine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CommentText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ShowDetail" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>