TalentSupplyNet/Documents/XSD/Requests/ExternalSmartcardReprintRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExternalSmartcardReprintRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SmartcardReprint">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SmartcardReprints">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerNumber" />
                    <xs:element name="RealCustomerNumber" />
                    <xs:element name="SmartcardNumber" />
                    <xs:element name="OldCardNumber" minOccurs="0" />
                    <xs:element name="ProductCode" />
                    <xs:element name="StadiumCode" minOccurs="0" />
                    <xs:element name="StandCode" minOccurs="0" />
                    <xs:element name="AreaCode" minOccurs="0" />
                    <xs:element name="Row" minOccurs="0" />
                    <xs:element name="SeatNumber" minOccurs="0" />
                    <xs:element name="SeatSuffix" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>