TalentSupplyNet/Documents/XSD/Requests/OrderRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Order">
          <xs:complexType>
            <xs:sequence>
        <xs:element name="OrderHeaderInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BillToSuffix" type="xs:string" />
              <xs:element name="ShipToSuffix" type="xs:string" />
              <xs:element name="AddressingInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ShipTo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Address">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ShipToAttention" type="xs:string" />
                                <xs:element name="ShipToAddress1" type="xs:string" />
                                <xs:element name="ShipToAddress2" type="xs:string" />
                                <xs:element name="ShipToAddress3" type="xs:string" />
                                <xs:element name="ShipToCity" type="xs:string" />
                                <xs:element name="ShipToProvince" type="xs:string" />
                                <xs:element name="ShipToPostalCode" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BillTo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Address">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BillToAttention" type="xs:string" />
                                <xs:element name="BillToAddress1" type="xs:string" />
                                <xs:element name="BillToAddress2" type="xs:string" />
                                <xs:element name="BillToAddress3" type="xs:string" />
                                <xs:element name="BillToCity" type="xs:string" />
                                <xs:element name="BillToProvince" type="xs:string" />
                                <xs:element name="BillToPostalCode" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CustomerPO" type="xs:string" />
                    <xs:element name="EndUserPO" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProcessingOptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CarrierCode" type="xs:string" />
                    <xs:element name="CarrierCodeValue" type="xs:string" />
                    <xs:element name="AutoRelease" type="xs:string" />
                    <xs:element name="SalesPerson" type="xs:string" />
                    <xs:element name="OrderDueDate" type="xs:string" />
                    <xs:element name="SuspendCode" type="xs:string" />
                    <xs:element name="ShipmentOptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BackOrderFlag" type="xs:string" />
                          <xs:element name="SplitShipmentFlag" type="xs:string" />
                          <xs:element name="SplitLine" type="xs:string" />
                          <xs:element name="ShipFromBranches" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Payment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PaymentType" type="xs:string" />
                    <xs:element name="Bank" type="xs:string" />
                    <xs:element name="Branch" type="xs:string" />
                    <xs:element name="Sortcode" type="xs:string" />
                    <xs:element name="Amount" type="xs:string" />
                    <xs:element name="PaymentDate" type="xs:string" />
                    <xs:element name="AccountDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AccountType" type="xs:string" />
                          <xs:element name="AccountNumber" type="xs:string" />
                          <xs:element name="AccountName" type="xs:string" />
                          <xs:element name="AccountpostCode" type="xs:string" />
                          <xs:element name="AccountAddress" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CreditCardDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CardType" type="xs:string" />
                          <xs:element name="CardNumber" type="xs:string" />
                          <xs:element name="ExpiryDate" type="xs:string" />
                          <xs:element name="StartDate" type="xs:string" />
                          <xs:element name="IssueNumber" type="xs:string" />
                          <xs:element name="CV2Number" type="xs:string" />
                          <xs:element name="CardHolderName" type="xs:string" />
                          <xs:element name="CardHolderPostCode" type="xs:string" />
                          <xs:element name="CardHolderAddress" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OrderCharges">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Charge" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DynamicMessage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MessageLines" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Extension" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Reference1" type="xs:string" />
                    <xs:element name="Reference2" type="xs:string" />
                    <xs:element name="Reference3" type="xs:string" />
                    <xs:element name="Reference4" type="xs:string" />
                    <xs:element name="FixedPrice1" type="xs:decimal" />
                    <xs:element name="FixedPrice2" type="xs:decimal" />
                    <xs:element name="FixedPrice3" type="xs:decimal" />
                    <xs:element name="FixedPrice4" type="xs:decimal" />
                    <xs:element name="DealID1" type="xs:string" />
                    <xs:element name="DealID2" type="xs:string" />
                    <xs:element name="DealID3" type="xs:string" />
                    <xs:element name="DealID4" type="xs:string" />
                    <xs:element name="DealID5" type="xs:string" />
                    <xs:element name="DealID6" type="xs:string" />
                    <xs:element name="DealID7" type="xs:string" />
                    <xs:element name="DealID8" type="xs:string" />
                    <xs:element name="Flag1" type="xs:string" />
                    <xs:element name="Flag2" type="xs:string" />
                    <xs:element name="Flag3" type="xs:string" />
                    <xs:element name="Flag4" type="xs:string" />
                    <xs:element name="Flag5" type="xs:string" />
                    <xs:element name="Flag6" type="xs:string" />
                    <xs:element name="Flag7" type="xs:string" />
                    <xs:element name="Status" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderLineInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ProductLine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SKU" type="xs:string" />
                    <xs:element name="AlternateSKU" type="xs:string" />
                    <xs:element name="Quantity" type="xs:string" />
                    <xs:element name="FixedPrice" type="xs:decimal" nillable="true" default="0" />
                    <xs:element name="CustomerLineNumber" />
                    <xs:element name="ReservedInventory">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ReserveCode" type="xs:string" />
                          <xs:element name="ReserveSequence" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LineComment" minOccurs="0"/>
                    <xs:element name="Extension" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Reference1" type="xs:string" />
                          <xs:element name="Reference2" type="xs:string" />
                          <xs:element name="Reference3" type="xs:string" />
                          <xs:element name="Reference4" type="xs:string" />
                          <xs:element name="Reference5" type="xs:string" />
                          <xs:element name="Reference6" type="xs:string" />
                          <xs:element name="Reference7" type="xs:string" />
                          <xs:element name="Reference8" type="xs:string" />
                          <xs:element name="Flag1" type="xs:string" />
                          <xs:element name="Flag2" type="xs:string" />
                          <xs:element name="Flag3" type="xs:string" />
                          <xs:element name="Flag4" type="xs:string" />
                          <xs:element name="Flag5" type="xs:string" />
                          <xs:element name="Flag6" type="xs:string" />
                          <xs:element name="Flag7" type="xs:string" />
                          <xs:element name="Flag8" type="xs:string" />
                          <xs:element name="Flag9" type="xs:string" />
                          <xs:element name="Flag0" type="xs:string" />
                          <xs:element name="Field1" type="xs:string" />
                          <xs:element name="Field2" type="xs:string" />
                          <xs:element name="Field3" type="xs:string" />
                          <xs:element name="Field4" type="xs:string" />
                          <xs:element name="FixedPrice1" type="xs:decimal" />
                          <xs:element name="FixedPrice2" type="xs:decimal" />
                          <xs:element name="FixedPrice3" type="xs:decimal" />
                          <xs:element name="FixedPrice4" type="xs:decimal" />
                          <xs:element name="FixedPrice5" type="xs:decimal" />
                          <xs:element name="FixedPrice6" type="xs:decimal" />
                          <xs:element name="FixedPrice7" type="xs:decimal" />
                          <xs:element name="FixedPrice8" type="xs:decimal" />
                          <xs:element name="DealID1" type="xs:string" />
                          <xs:element name="DealID2" type="xs:string" />
                          <xs:element name="DealID3" type="xs:string" />
                          <xs:element name="DealID4" type="xs:string" />
                          <xs:element name="DealID5" type="xs:string" />
                          <xs:element name="DealID6" type="xs:string" />
                          <xs:element name="DealID7" type="xs:string" />
                          <xs:element name="DealID8" type="xs:string" />
                          <xs:element name="Status" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="CommentLine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CommentText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
             
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ShowDetail" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>