TalentSupplyNet/Documents/XSD/Requests/OrderChangeRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderHeaderInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="BranchOrderNumber" type="xs:string" />
                <xs:element name="OrderSuffix" type="xs:string" />
                <xs:element name="CustomerPO" type="xs:string" />
                <xs:element name="OrderActionCode" type="xs:string" />
                <xs:element name="ShipTo">
                  <xs:complexType mixed="true">
                    <xs:sequence>
                      <xs:element name="CarrierCode" type="xs:string" />
                      <xs:element name="Name" type="xs:string" />
                      <xs:element name="Attention" type="xs:string" />
                      <xs:element name="AddressLine1" type="xs:string" />
                      <xs:element name="AddressLine2" type="xs:string" />
                      <xs:element name="AddressLine3" type="xs:string" />
                      <xs:element name="AddressLine4" type="xs:string" />
                      <xs:element name="City" type="xs:string" />
                      <xs:element name="Province" type="xs:string" />
                      <xs:element name="PostalCode" type="xs:string" />
                      <xs:element name="CountryCode" type="xs:string" />
                      <xs:element name="EndUserPO" type="xs:string" />
                      <xs:element name="BillToSuffix" type="xs:string" />
                      <xs:element name="ShipToSuffix" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Extension" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Reference1" type="xs:string" />
                      <xs:element name="Reference2" type="xs:string" />
                      <xs:element name="Reference3" type="xs:string" />
                      <xs:element name="Reference4" type="xs:string" />
                      <xs:element name="FixedPrice1" type="xs:decimal" />
                      <xs:element name="FixedPrice2" type="xs:decimal" />
                      <xs:element name="FixedPrice3" type="xs:decimal" />
                      <xs:element name="FixedPrice4" type="xs:decimal" />
                      <xs:element name="DealID1" type="xs:string" />
                      <xs:element name="DealID2" type="xs:string" />
                      <xs:element name="DealID3" type="xs:string" />
                      <xs:element name="DealID4" type="xs:string" />
                      <xs:element name="DealID5" type="xs:string" />
                      <xs:element name="DealID6" type="xs:string" />
                      <xs:element name="DealID7" type="xs:string" />
                      <xs:element name="DealID8" type="xs:string" />
                      <xs:element name="Flag1" type="xs:string" />
                      <xs:element name="Flag2" type="xs:string" />
                      <xs:element name="Flag3" type="xs:string" />
                      <xs:element name="Flag4" type="xs:string" />
                      <xs:element name="Flag5" type="xs:string" />
                      <xs:element name="Flag6" type="xs:string" />
                      <xs:element name="Flag7" type="xs:string" />
                      <xs:element name="Status" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LineInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AddLine" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SKU" type="xs:string" />
                    <xs:element name="Quantity" type="xs:string" />
                    <xs:element name="CustomerLineNumber" type="xs:string" />
                    <xs:element name="ShipFromWarehouse" type="xs:string" />
                    <xs:element name="Extension" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Reference1" type="xs:string" />
                          <xs:element name="Reference2" type="xs:string" />
                          <xs:element name="Reference3" type="xs:string" />
                          <xs:element name="Reference4" type="xs:string" />
                          <xs:element name="Reference5" type="xs:string" />
                          <xs:element name="Reference6" type="xs:string" />
                          <xs:element name="Reference7" type="xs:string" />
                          <xs:element name="Reference8" type="xs:string" />
                          <xs:element name="Flag1" type="xs:string" />
                          <xs:element name="Flag2" type="xs:string" />
                          <xs:element name="Flag3" type="xs:string" />
                          <xs:element name="Flag4" type="xs:string" />
                          <xs:element name="Flag5" type="xs:string" />
                          <xs:element name="Flag6" type="xs:string" />
                          <xs:element name="Flag7" type="xs:string" />
                          <xs:element name="Flag8" type="xs:string" />
                          <xs:element name="Flag9" type="xs:string" />
                          <xs:element name="Flag0" type="xs:string" />
                          <xs:element name="Field1" type="xs:string" />
                          <xs:element name="Field2" type="xs:string" />
                          <xs:element name="Field3" type="xs:string" />
                          <xs:element name="Field4" type="xs:string" />
                          <xs:element name="FixedPrice1" type="xs:decimal" />
                          <xs:element name="FixedPrice2" type="xs:decimal" />
                          <xs:element name="FixedPrice3" type="xs:decimal" />
                          <xs:element name="FixedPrice4" type="xs:decimal" />
                          <xs:element name="FixedPrice5" type="xs:decimal" />
                          <xs:element name="FixedPrice6" type="xs:decimal" />
                          <xs:element name="FixedPrice7" type="xs:decimal" />
                          <xs:element name="FixedPrice8" type="xs:decimal" />
                          <xs:element name="DealID1" type="xs:string" />
                          <xs:element name="DealID2" type="xs:string" />
                          <xs:element name="DealID3" type="xs:string" />
                          <xs:element name="DealID4" type="xs:string" />
                          <xs:element name="DealID5" type="xs:string" />
                          <xs:element name="DealID6" type="xs:string" />
                          <xs:element name="DealID7" type="xs:string" />
                          <xs:element name="DealID8" type="xs:string" />
                          <xs:element name="Status" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ChangeLine" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="WestCoastLineNumber" type="xs:string" />
                    <xs:element name="SKU" type="xs:string" />
                    <xs:element name="Quantity" type="xs:string" />
                    <xs:element name="CustomerLineNumber" type="xs:string" />
                    <xs:element name="Suffix" type="xs:string" />
                    <xs:element name="CancellationCode" type="xs:string" />
                    <xs:element name="Extension" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Reference1" type="xs:string" />
                          <xs:element name="Reference2" type="xs:string" />
                          <xs:element name="Reference3" type="xs:string" />
                          <xs:element name="Reference4" type="xs:string" />
                          <xs:element name="Reference5" type="xs:string" />
                          <xs:element name="Reference6" type="xs:string" />
                          <xs:element name="Reference7" type="xs:string" />
                          <xs:element name="Reference8" type="xs:string" />
                          <xs:element name="Flag1" type="xs:string" />
                          <xs:element name="Flag2" type="xs:string" />
                          <xs:element name="Flag3" type="xs:string" />
                          <xs:element name="Flag4" type="xs:string" />
                          <xs:element name="Flag5" type="xs:string" />
                          <xs:element name="Flag6" type="xs:string" />
                          <xs:element name="Flag7" type="xs:string" />
                          <xs:element name="Flag8" type="xs:string" />
                          <xs:element name="Flag9" type="xs:string" />
                          <xs:element name="Flag0" type="xs:string" />
                          <xs:element name="Field1" type="xs:string" />
                          <xs:element name="Field2" type="xs:string" />
                          <xs:element name="Field3" type="xs:string" />
                          <xs:element name="Field4" type="xs:string" />
                          <xs:element name="FixedPrice1" type="xs:decimal" />
                          <xs:element name="FixedPrice2" type="xs:decimal" />
                          <xs:element name="FixedPrice3" type="xs:decimal" />
                          <xs:element name="FixedPrice4" type="xs:decimal" />
                          <xs:element name="FixedPrice5" type="xs:decimal" />
                          <xs:element name="FixedPrice6" type="xs:decimal" />
                          <xs:element name="FixedPrice7" type="xs:decimal" />
                          <xs:element name="FixedPrice8" type="xs:decimal" />
                          <xs:element name="DealID1" type="xs:string" />
                          <xs:element name="DealID2" type="xs:string" />
                          <xs:element name="DealID3" type="xs:string" />
                          <xs:element name="DealID4" type="xs:string" />
                          <xs:element name="DealID5" type="xs:string" />
                          <xs:element name="DealID6" type="xs:string" />
                          <xs:element name="DealID7" type="xs:string" />
                          <xs:element name="DealID8" type="xs:string" />
                          <xs:element name="Status" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeleteLine" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="WestCoastLineNumber" type="xs:string" />
                    <xs:element name="Suffix" type="xs:string" />
                    <xs:element name="CancellationCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AddComment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CommentText" type="xs:string" />
                    <xs:element name="CustomerLineNumber" type="xs:string" />
                    <xs:element name="Suffix" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ShowDetail" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>