TalentSupplyNet/Documents/XSD/Requests/PaymentRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PaymentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Payment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PaymentMode" type="xs:string" />
              <xs:element name="PaymentMethod" type="xs:string" />
              <xs:element name="SessionId" type="xs:string" />
              <xs:element name="ChequeNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="ChequeAccount" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="CardNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="ExpiryDate" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="StartDate" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IssueNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="CV2Number" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="SoldByUser" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="PaymentDetails" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Reference" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Address1" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Address2" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Address3" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Address4" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Country" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="PostCode" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Telephone1" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Telephone2" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Telephone3" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="EmailAddress" type="xs:string" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>