TalentSupplyNet/Documents/XSD/Requests/ProductNavigationLoadRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CharRestriction20">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductNavigationLoadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" />
              <xs:element name="Password" />
              <xs:element name="Company" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element  minOccurs="0" name="ProductGroupDefinitions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ProductGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Code" type="CharRestriction20" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Description1" type="xs:string" />
                          <xs:element minOccurs="0" name="Description2" />
                          <xs:element minOccurs="0" name="HTML1" />
                          <xs:element minOccurs="0" name="HTML2" />
                          <xs:element minOccurs="0" name="HTML3" />
                          <xs:element minOccurs="0" name="PageTitle" />
                          <xs:element minOccurs="0" name="MetaDescription" />
                          <xs:element minOccurs="0" name="MetaKeywords" />
                        </xs:sequence>
                        <xs:attribute name="Language" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Mode" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Total" type="xs:integer" use="required" />
            <xs:attribute name="Mode" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element  minOccurs="0" name="ProductGroupHierarchies">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ProductGroupHierarchy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Defaults">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LastProductAfterLevel" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Level1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductGroup">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Code" type="xs:string" />
                                <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                <xs:element minOccurs="0" name="ProductPageTemplate" />
                                <xs:element minOccurs="0" name="ProductListTemplate" />
                                <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                <xs:element minOccurs="0" name="ShowProductsAsList" />
                                <xs:element minOccurs="0" name="ShowInNavigation" />
                                <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                <xs:element minOccurs="0" name="HTMLGroup" />
                                <xs:element minOccurs="0" name="HTMLGroupType" />
                                <xs:element minOccurs="0" name="ShowProductDisplay" />
                                <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Description1" type="xs:string" />
                                      <xs:element minOccurs="0" name="Description2" />
                                      <xs:element minOccurs="0" name="HTML1" />
                                      <xs:element minOccurs="0" name="HTML2" />
                                      <xs:element minOccurs="0" name="HTML3" />
                                      <xs:element minOccurs="0" name="PageTitle" />
                                      <xs:element minOccurs="0" name="MetaDescription" />
                                      <xs:element minOccurs="0" name="MetaKeywords" />
                                    </xs:sequence>
                                    <xs:attribute name="Language" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Products">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="SKU" type="xs:string" />
                                            <xs:element name="DisplaySequence" type="xs:string" />
                                            <xs:element name="check" type="xs:string" minOccurs="0"/>
                                          </xs:sequence>
                                          <xs:attribute name="Mode" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Total" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Level2">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element  maxOccurs="unbounded" name="ProductGroup">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Code" type="xs:string" />
                                            <xs:element  minOccurs="0" name="DisplaySequence" type="xs:string" />
                                            <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                            <xs:element minOccurs="0" name="ProductPageTemplate" />
                                            <xs:element minOccurs="0" name="ProductListTemplate" />
                                            <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                            <xs:element minOccurs="0" name="ShowProductsAsList" />
                                            <xs:element minOccurs="0" name="ShowInNavigation" />
                                            <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                            <xs:element minOccurs="0" name="HTMLGroup" />
                                            <xs:element minOccurs="0" name="HTMLGroupType" />
                                            <xs:element minOccurs="0" name="ShowProductDisplay" />
                                            <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Description1" type="xs:string" />
                                                  <xs:element minOccurs="0" name="Description2" />
                                                  <xs:element minOccurs="0" name="HTML1" />
                                                  <xs:element minOccurs="0" name="HTML2" />
                                                  <xs:element minOccurs="0" name="HTML3" />
                                                  <xs:element minOccurs="0" name="PageTitle" />
                                                  <xs:element minOccurs="0" name="MetaDescription" />
                                                  <xs:element minOccurs="0" name="MetaKeywords" />
                                                </xs:sequence>
                                                <xs:attribute name="Language" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Products">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="SKU" type="xs:string" />
                                                        <xs:element name="DisplaySequence" type="xs:string" />
                                                        <xs:element name="check" type="xs:string" minOccurs="0"/>
                                                      </xs:sequence>
                                                      <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Total" type="xs:integer" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Level3">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element  maxOccurs="unbounded" name="ProductGroup">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="Code" type="xs:string" />
                                                        <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                                        <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                                        <xs:element minOccurs="0" name="ProductPageTemplate" />
                                                        <xs:element minOccurs="0" name="ProductListTemplate" />
                                                        <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                                        <xs:element minOccurs="0" name="ShowProductsAsList" />
                                                        <xs:element minOccurs="0" name="ShowInNavigation" />
                                                        <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                                        <xs:element minOccurs="0" name="HTMLGroup" />
                                                        <xs:element minOccurs="0" name="HTMLGroupType" />
                                                        <xs:element minOccurs="0" name="ShowProductDisplay" />
                                                        <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Description1" type="xs:string" />
                                                              <xs:element minOccurs="0" name="Description2" />
                                                              <xs:element minOccurs="0" name="HTML1" />
                                                              <xs:element minOccurs="0" name="HTML2" />
                                                              <xs:element minOccurs="0" name="HTML3" />
                                                              <xs:element minOccurs="0" name="PageTitle" />
                                                              <xs:element minOccurs="0" name="MetaDescription" />
                                                              <xs:element minOccurs="0" name="MetaKeywords" />
                                                            </xs:sequence>
                                                            <xs:attribute name="Language" type="xs:string" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="Products">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="SKU" type="xs:string" />
                                                                    <xs:element name="DisplaySequence" type="xs:string" />
                                                                    <xs:element name="check" type="xs:string" minOccurs="0"/>
                                                                  </xs:sequence>
                                                                  <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="Total" type="xs:integer" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0"  name="Level4">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element  maxOccurs="unbounded" name="ProductGroup">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="Code" type="xs:string" />
                                                                    <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                                                    <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                                                    <xs:element minOccurs="0" name="ProductPageTemplate" />
                                                                    <xs:element minOccurs="0" name="ProductListTemplate" />
                                                                    <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                                                    <xs:element minOccurs="0" name="ShowProductsAsList" />
                                                                    <xs:element minOccurs="0" name="ShowInNavigation" />
                                                                    <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                                                    <xs:element minOccurs="0" name="HTMLGroup" />
                                                                    <xs:element minOccurs="0" name="HTMLGroupType" />
                                                                    <xs:element minOccurs="0" name="ShowProductDisplay" />
                                                                    <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="Description1" type="xs:string" />
                                                                          <xs:element minOccurs="0" name="Description2" />
                                                                          <xs:element minOccurs="0" name="HTML1" />
                                                                          <xs:element minOccurs="0" name="HTML2" />
                                                                          <xs:element minOccurs="0" name="HTML3" />
                                                                          <xs:element minOccurs="0" name="PageTitle" />
                                                                          <xs:element minOccurs="0" name="MetaDescription" />
                                                                          <xs:element minOccurs="0" name="MetaKeywords" />
                                                                        </xs:sequence>
                                                                        <xs:attribute name="Language" type="xs:string" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element minOccurs="0" name="Products">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="SKU" type="xs:string" />
                                                                                <xs:element name="DisplaySequence" type="xs:string" />
                                                                                <xs:element name="check" type="xs:string" minOccurs="0"/>
                                                                              </xs:sequence>
                                                                              <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element minOccurs="0"   name="Level5">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element  maxOccurs="unbounded" name="ProductGroup">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="Code" type="xs:string" />
                                                                                <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                                                                <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                                                                <xs:element minOccurs="0" name="ProductPageTemplate" />
                                                                                <xs:element minOccurs="0" name="ProductListTemplate" />
                                                                                <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                                                                <xs:element minOccurs="0" name="ShowProductsAsList" />
                                                                                <xs:element minOccurs="0" name="ShowInNavigation" />
                                                                                <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                                                                <xs:element minOccurs="0" name="HTMLGroup" />
                                                                                <xs:element minOccurs="0" name="HTMLGroupType" />
                                                                                <xs:element minOccurs="0" name="ShowProductDisplay" />
                                                                                <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element name="Description1" type="xs:string" />
                                                                                      <xs:element minOccurs="0" name="Description2" />
                                                                                      <xs:element minOccurs="0" name="HTML1" />
                                                                                      <xs:element minOccurs="0" name="HTML2" />
                                                                                      <xs:element minOccurs="0" name="HTML3" />
                                                                                      <xs:element minOccurs="0" name="PageTitle" />
                                                                                      <xs:element minOccurs="0" name="MetaDescription" />
                                                                                      <xs:element minOccurs="0" name="MetaKeywords" />
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="Language" type="xs:string" use="required" />
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element minOccurs="0" name="Products">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="SKU" type="xs:string" />
                                                                                            <xs:element name="DisplaySequence" type="xs:string" />
                                                                                            <xs:element name="check" type="xs:string" minOccurs="0"/>
                                                                                          </xs:sequence>
                                                                                          <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element minOccurs="0"  name="Level6">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element maxOccurs="unbounded" name="ProductGroup">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="Code" type="xs:string" />
                                                                                            <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                                                                            <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                                                                            <xs:element minOccurs="0" name="ProductPageTemplate" />
                                                                                            <xs:element minOccurs="0" name="ProductListTemplate" />
                                                                                            <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                                                                            <xs:element minOccurs="0" name="ShowProductsAsList" />
                                                                                            <xs:element minOccurs="0" name="ShowInNavigation" />
                                                                                            <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                                                                            <xs:element minOccurs="0" name="HTMLGroup" />
                                                                                            <xs:element minOccurs="0" name="HTMLGroupType" />
                                                                                            <xs:element minOccurs="0" name="ShowProductDisplay" />
                                                                                            <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element name="Description1" type="xs:string" />
                                                                                                  <xs:element minOccurs="0" name="Description2" />
                                                                                                  <xs:element minOccurs="0" name="HTML1" />
                                                                                                  <xs:element minOccurs="0" name="HTML2" />
                                                                                                  <xs:element minOccurs="0" name="HTML3" />
                                                                                                  <xs:element minOccurs="0" name="PageTitle" />
                                                                                                  <xs:element minOccurs="0" name="MetaDescription" />
                                                                                                  <xs:element minOccurs="0" name="MetaKeywords" />
                                                                                                </xs:sequence>
                                                                                                <xs:attribute name="Language" type="xs:string" use="required" />
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                            <xs:element minOccurs="0" name="Products">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="SKU" type="xs:string" />
                                                                                                        <xs:element name="DisplaySequence" type="xs:string" />
                                                                                                      </xs:sequence>
                                                                                                      <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                            <xs:element minOccurs="0"  name="Level7">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element maxOccurs="unbounded" name="ProductGroup">
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="Code" type="xs:string" />
                                                                                                        <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                                                                                        <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                                                                                        <xs:element minOccurs="0" name="ProductPageTemplate" />
                                                                                                        <xs:element minOccurs="0" name="ProductListTemplate" />
                                                                                                        <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                                                                                        <xs:element minOccurs="0" name="ShowProductsAsList" />
                                                                                                        <xs:element minOccurs="0" name="ShowInNavigation" />
                                                                                                        <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                                                                                        <xs:element minOccurs="0" name="HTMLGroup" />
                                                                                                        <xs:element minOccurs="0" name="HTMLGroupType" />
                                                                                                        <xs:element minOccurs="0" name="ShowProductDisplay" />
                                                                                                        <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element name="Description1" type="xs:string" />
                                                                                                              <xs:element minOccurs="0" name="Description2" />
                                                                                                              <xs:element minOccurs="0" name="HTML1" />
                                                                                                              <xs:element minOccurs="0" name="HTML2" />
                                                                                                              <xs:element minOccurs="0" name="HTML3" />
                                                                                                              <xs:element minOccurs="0" name="PageTitle" />
                                                                                                              <xs:element minOccurs="0" name="MetaDescription" />
                                                                                                              <xs:element minOccurs="0" name="MetaKeywords" />
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute name="Language" type="xs:string" use="required" />
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element minOccurs="0" name="Products">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element name="SKU" type="xs:string" />
                                                                                                                    <xs:element name="DisplaySequence" type="xs:string" />
                                                                                                                  </xs:sequence>
                                                                                                                  <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element minOccurs="0"  name="Level8">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element maxOccurs="unbounded" name="ProductGroup">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element minOccurs="0" name="Code" type="xs:string" />
                                                                                                                    <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                                                                                                    <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                                                                                                    <xs:element minOccurs="0" name="ProductPageTemplate" />
                                                                                                                    <xs:element minOccurs="0" name="ProductListTemplate" />
                                                                                                                    <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                                                                                                    <xs:element minOccurs="0" name="ShowProductsAsList" />
                                                                                                                    <xs:element minOccurs="0" name="ShowInNavigation" />
                                                                                                                    <xs:element  minOccurs="0" name="ShowInGroupedNavigation" />
                                                                                                                    <xs:element  minOccurs="0" name="HTMLGroup" />
                                                                                                                    <xs:element minOccurs="0" name="HTMLGroupType" />
                                                                                                                    <xs:element minOccurs="0" name="ShowProductDisplay" />
                                                                                                                    <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                                                                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element name="Description1" type="xs:string" />
                                                                                                                          <xs:element minOccurs="0" name="Description2" />
                                                                                                                          <xs:element minOccurs="0" name="HTML1" />
                                                                                                                          <xs:element minOccurs="0" name="HTML2" />
                                                                                                                          <xs:element minOccurs="0" name="HTML3" />
                                                                                                                          <xs:element minOccurs="0" name="PageTitle" />
                                                                                                                          <xs:element minOccurs="0" name="MetaDescription" />
                                                                                                                          <xs:element minOccurs="0" name="MetaKeywords" />
                                                                                                                        </xs:sequence>
                                                                                                                        <xs:attribute name="Language" type="xs:string" use="required" />
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element minOccurs="0" name="Products">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                                                                                            <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                <xs:element name="SKU" type="xs:string" />
                                                                                                                                <xs:element name="DisplaySequence" type="xs:string" />
                                                                                                                              </xs:sequence>
                                                                                                                              <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                                            </xs:complexType>
                                                                                                                          </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                        <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element minOccurs="0"  name="Level9">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element maxOccurs="unbounded" name="ProductGroup">
                                                                                                                            <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                <xs:element name="Code" type="xs:string" />
                                                                                                                                <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                                                                                                                <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                                                                                                                <xs:element minOccurs="0" name="ProductPageTemplate" />
                                                                                                                                <xs:element minOccurs="0" name="ProductListTemplate" />
                                                                                                                                <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                                                                                                                <xs:element minOccurs="0" name="ShowProductsAsList" />
                                                                                                                                <xs:element minOccurs="0" name="ShowInNavigation" />
                                                                                                                                <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                                                                                                                <xs:element minOccurs="0" name="HTMLGroup" />
                                                                                                                                <xs:element minOccurs="0" name="HTMLGroupType" />
                                                                                                                                <xs:element minOccurs="0" name="ShowProductDisplay" />
                                                                                                                                <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                                                                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                                                                                                                  <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                      <xs:element name="Description1" type="xs:string" />
                                                                                                                                      <xs:element minOccurs="0" name="Description2" />
                                                                                                                                      <xs:element minOccurs="0" name="HTML1" />
                                                                                                                                      <xs:element minOccurs="0" name="HTML2" />
                                                                                                                                      <xs:element minOccurs="0" name="HTML3" />
                                                                                                                                      <xs:element minOccurs="0" name="PageTitle" />
                                                                                                                                      <xs:element minOccurs="0" name="MetaDescription" />
                                                                                                                                      <xs:element minOccurs="0" name="MetaKeywords" />
                                                                                                                                    </xs:sequence>
                                                                                                                                    <xs:attribute name="Language" type="xs:string" use="required" />
                                                                                                                                  </xs:complexType>
                                                                                                                                </xs:element>
                                                                                                                                <xs:element minOccurs="0" name="Products">
                                                                                                                                  <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                                                                                                        <xs:complexType>
                                                                                                                                          <xs:sequence>
                                                                                                                                            <xs:element name="SKU" type="xs:string" />
                                                                                                                                            <xs:element name="DisplaySequence" type="xs:string" />
                                                                                                                                          </xs:sequence>
                                                                                                                                          <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                                                        </xs:complexType>
                                                                                                                                      </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                    <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                                                                  </xs:complexType>
                                                                                                                                </xs:element>
                                                                                                                                <xs:element minOccurs="0"  name="Level10">
                                                                                                                                  <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                      <xs:element maxOccurs="unbounded" name="ProductGroup">
                                                                                                                                        <xs:complexType>
                                                                                                                                          <xs:sequence>
                                                                                                                                            <xs:element name="Code" type="xs:string" />
                                                                                                                                            <xs:element minOccurs="0" name="DisplaySequence" type="xs:string" />
                                                                                                                                            <xs:element minOccurs="0" name="AdvancedSearchTemplate" />
                                                                                                                                            <xs:element minOccurs="0" name="ProductPageTemplate" />
                                                                                                                                            <xs:element minOccurs="0" name="ProductListTemplate" />
                                                                                                                                            <xs:element minOccurs="0" name="ShowChildrenAsGroups" />
                                                                                                                                            <xs:element minOccurs="0" name="ShowProductsAsList" />
                                                                                                                                            <xs:element minOccurs="0" name="ShowInNavigation" />
                                                                                                                                            <xs:element minOccurs="0" name="ShowInGroupedNavigation" />
                                                                                                                                            <xs:element minOccurs="0" name="HTMLGroup" />
                                                                                                                                            <xs:element minOccurs="0" name="HTMLGroupType" />
                                                                                                                                            <xs:element minOccurs="0" name="ShowProductDisplay" />
                                                                                                                                            <xs:element minOccurs="0" name="Theme" type="xs:string" />
                                                                                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Details">
                                                                                                                                              <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                  <xs:element name="Description1" type="xs:string" />
                                                                                                                                                  <xs:element minOccurs="0" name="Description2" />
                                                                                                                                                  <xs:element minOccurs="0" name="HTML1" />
                                                                                                                                                  <xs:element minOccurs="0" name="HTML2" />
                                                                                                                                                  <xs:element minOccurs="0" name="HTML3" />
                                                                                                                                                  <xs:element minOccurs="0" name="PageTitle" />
                                                                                                                                                  <xs:element minOccurs="0" name="MetaDescription" />
                                                                                                                                                  <xs:element minOccurs="0" name="MetaKeywords" />
                                                                                                                                                </xs:sequence>
                                                                                                                                                <xs:attribute name="Language" type="xs:string" use="required" />
                                                                                                                                              </xs:complexType>
                                                                                                                                            </xs:element>
                                                                                                                                            <xs:element minOccurs="0" name="Products">
                                                                                                                                              <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                                                                                                                                                    <xs:complexType>
                                                                                                                                                      <xs:sequence>
                                                                                                                                                        <xs:element name="SKU" type="xs:string" />
                                                                                                                                                        <xs:element name="DisplaySequence" type="xs:string" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                                      <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                                                                    </xs:complexType>
                                                                                                                                                  </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                                <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                                                                              </xs:complexType>
                                                                                                                                            </xs:element>
                                                                                                                                          </xs:sequence>
                                                                                                                                          <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                                                        </xs:complexType>
                                                                                                                                      </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                    <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                                                                  </xs:complexType>
                                                                                                                                </xs:element>

                                                                                                                              </xs:sequence>
                                                                                                                              <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                                            </xs:complexType>
                                                                                                                          </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                        <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <!--</xs:sequence>
                                                                                                                        <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>-->
                                                                                                                  </xs:sequence>
                                                                                                                  <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                      </xs:sequence>
                                                                                                      <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                          </xs:sequence>
                                                                                          <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                              <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="Total" type="xs:integer" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                  <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="Total" type="xs:integer" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="Mode" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Total" type="xs:integer" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Mode" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Total" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Mode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Total" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="BusinessUnit" type="xs:string" use="required" />
                  <xs:attribute name="Partner" type="xs:string" use="required" />
                  <xs:attribute name="Mode" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Total" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>