TalentSupplyNet/Documents/XSD/Requests/ProductListRequest11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ProductList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StadiumCodes" type="xs:string" />
              <xs:element name="CustomerNo" type="xs:unsignedLong" />
              <xs:element name="ProductType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>