TalentSupplyNet/Documents/XSD/Requests/RefundPaymentRequest11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RefundPaymentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="xs:decimal" />
				<xs:element name="TransactionHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SenderID"  type="xs:string" />
							<xs:element name="ReceiverID"  type="xs:string" />
							<xs:element name="CountryCode"  type="xs:string" />
							<xs:element name="LoginID" type="xs:string" />
							<xs:element name="Password" type="xs:string" />
							<xs:element name="Company" type="xs:string" />
							<xs:element name="TransactionID"  type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RefundPayment">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RefundCustomerNo" type="xs:string" />
							<xs:element name="RefundMode" type="xs:string" />
							<xs:element name="RefundMethod" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Product" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CustomerNo"  type="xs:string" />
										<xs:element name="ProductCode" type="xs:string" />
                    <xs:element name="PriceBand" type="xs:string" />
                    <xs:element name="PriceCode" type="xs:string" />
                    <xs:element name="CancelAllMatching" type="xs:string" />
                  </xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>