TalentSupplyNet/Documents/XSD/Requests/RetrieveOrdersByStatusRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RetrieveOrdersByStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="CountryCode" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Orders">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MarkOrdersAsComplete" type="xs:boolean" default="0" />
              <xs:element name="BusinessUnit" type="xs:string" minOccurs="1" />
              <xs:element name="Partner" type="xs:string" minOccurs="1" />
              <xs:element name="Status" type="xs:string" minOccurs="1" />
              <xs:element name="FromDate" type="xs:string" minOccurs="0" />
              <xs:element name="ToDate" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>