TalentSupplyNet/Documents/XSD/Requests/SupplierOrderAcknowledgementRequest10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SupplierOrderAcknowledgementRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:unsignedInt" />
              <xs:element name="ReceiverID" type="xs:unsignedInt" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderAcknowledgements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderAcknowledgement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrderAcknowledgementHeader">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CompanyCode" type="xs:string" />
                          <xs:element name="VendorNumber" type="xs:string" />
                          <xs:element name="PurchaseOrderNumber" type="xs:string" />
                          <xs:element name="DespatchDate" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OrderAcknowledgementLines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="OrderAcknowledgementLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ProductCode" type="xs:string" />
                                <xs:element name="OrderQuantity" type="xs:unsignedShort" />
                                <xs:element name="UnitPrice" type="xs:decimal" />
                                <xs:element name="DeliveryDate" type="xs:unsignedInt" />
                              </xs:sequence>
                              <xs:attribute name="LineNumber" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>