TalentCommon/Web References/Encryption/Encryption.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/TalentEnryption/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/TalentEnryption/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/TalentEnryption/">
      <s:element name="ReturnEncryptionKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnEncryptionKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnEncryptionKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReturnEncryptionKeySoapIn">
    <wsdl:part name="parameters" element="tns:ReturnEncryptionKey" />
  </wsdl:message>
  <wsdl:message name="ReturnEncryptionKeySoapOut">
    <wsdl:part name="parameters" element="tns:ReturnEncryptionKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="EncryptionSoap">
    <wsdl:operation name="ReturnEncryptionKey">
      <wsdl:input message="tns:ReturnEncryptionKeySoapIn" />
      <wsdl:output message="tns:ReturnEncryptionKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncryptionSoap" type="tns:EncryptionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnEncryptionKey">
      <soap:operation soapAction="http://localhost/TalentEnryption/ReturnEncryptionKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptionSoap12" type="tns:EncryptionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnEncryptionKey">
      <soap12:operation soapAction="http://localhost/TalentEnryption/ReturnEncryptionKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Encryption">
    <wsdl:port name="EncryptionSoap" binding="tns:EncryptionSoap">
      <soap:address location="http://localhost:19489/TalentEncryption/Encryption.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptionSoap12" binding="tns:EncryptionSoap12">
      <soap12:address location="http://localhost:19489/TalentEncryption/Encryption.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>