TalentSupplyNet/Documents/XSD/Responses/AddLoyaltyPointsResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddLoyaltyPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="ErrorStatus" type="xs:string">
                <xs:complexType>
                  <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DocumentID" />
              <xs:element name="TransactionID" />
              <xs:element name="Company" />
              <xs:element name="TimeStamp" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LoyaltyPoints">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerNumber" type="xs:string" />
                    <xs:element name="ProductCode" type="xs:string" />
                    <xs:element name="Date" type="xs:date" />
                    <xs:element name="Time" type="xs:time" />
                    <xs:element name="StandCode" type="xs:string" />
                    <xs:element name="AreaCode" type="xs:string" />
                    <xs:element name="Row" type="xs:string" />
                    <xs:element name="Seat" type="xs:string" />
                    <xs:element name="Points" type="xs:integer" />
                    <xs:element name="ReturnCode" type="xs:string" />
                    <xs:element name="Success" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>