TalentSupplyNet/Documents/XSD/Responses/AddTicketingItemsReturnBasketResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AddTicketingItemsReturnBasketResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="xs:decimal" />
				<xs:element name="TransactionHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SenderID" />
							<xs:element name="ReceiverID" />
							<xs:element name="ErrorStatus">
								<xs:complexType>
									<xs:attribute name="ErrorNumber" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="DocumentID" />
							<xs:element name="TransactionID" />
							<xs:element name="Company" />
							<xs:element name="TimeStamp" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AddTicketingItemsReturnBasket">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Response">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReturnCode" />
										<xs:element name="SessionId" type="xs:string" />
										<xs:element name="CustomerNo" type="xs:string" />
										<xs:element name="ProductCode" type="xs:string" />
										<xs:element name="Seat" type="xs:string" />
                    <xs:element name="AlternativeSeat" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TicketingItemsDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReservedQuantity" type="xs:string" />
										<xs:element name="ReservedSeconds" type="xs:string" />
										<xs:element name="WSFee" type="xs:string" />
										<xs:element name="CreditcardFee" type="xs:string" />
										<xs:element name="CarriageFee" type="xs:string" />
										<xs:element name="TotalPrice" type="xs:string" />
										<xs:element name="ShoppingBasket">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="ProductDetails">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CustomerNo" type="xs:string" />
																<xs:element name="ProductCode" type="xs:string" />
																<xs:element name="ProductDescription" type="xs:string" />
																<xs:element name="Seat" type="xs:string" />
																<xs:element name="PriceCode" type="xs:string" />
																<xs:element name="PriceBand" type="xs:string" />
																<xs:element name="Price" type="xs:string" />
																<xs:element name="ReservedSeat" type="xs:string" />
																<xs:element minOccurs="0" name="ErrorType" />
																<xs:element minOccurs="0" name="ErrorCode" type="xs:string" />
																<xs:element name="UserLimit" type="xs:string" />
																<xs:element minOccurs="0" name="MaxTickets" />
																<xs:element minOccurs="0" name="ProductLimit" type="xs:string" />
																<xs:element name="PreReqProduct" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>