TalentSupplyNet/Documents/XSD/Responses/AmenTemplateResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AmendTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="ErrorStatus">
                <xs:complexType>
                  <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DocumentID" />
              <xs:element name="TransactionID" />
              <xs:element name="Company" />
              <xs:element name="TimeStamp" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TemplateHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BusinessUnit" type="xs:string" />
              <xs:element name="Partner" type="xs:string" />
              <xs:element name="UserID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="TemplateLine">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LineError" type="xs:string" />
              <xs:element name="Product" type="xs:string" />
              <xs:element name="Quantity" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>