TalentSupplyNet/Documents/XSD/Responses/CustomerAssociationsResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerAssociationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustomerRetrieval">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReturnCode" type="xs:string" />
                    <xs:element name="CustomerNo" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CustomerDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerNumber" type="xs:string" />
                    <xs:element name="CustomerAssociatedNumber" type="xs:string" />
                    <xs:element name="Forename" type="xs:string" />
                    <xs:element name="Surname" type="xs:string" />
                    <xs:element name="AddressLine1" type="xs:string" />
                    <xs:element name="PostCode" type="xs:string" />
                    <xs:element name="PriceBand" type="xs:string" />
                    <xs:element name="ActiveFlag" type="xs:string" />
                    <xs:element name="LoyaltyPoints" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>