TalentSupplyNet/Documents/XSD/Responses/CustomerAddResponse11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost/TradingPortal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="ErrorStatus">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="DocumentID" type="xs:string" />
              <xs:element name="TransactionID" type="xs:unsignedShort" />
              <xs:element name="TimeStamp" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustomerAddDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReturnCode" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sites">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Site">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="SiteActionSuccess" type="xs:string" />
                          <xs:element name="SiteAddressActionSuccess" type="xs:string" />
                          <xs:element name="Contacts">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Contact">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="CustomerNo" type="xs:string" />
                                      <xs:element name="AuthoriseActionSuccess" type="xs:string" />
                                      <xs:element name="UserActionSuccess" type="xs:string" />
                                      <xs:element name="Addresses">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="Address">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="PostCode" type="xs:string" />
                                                  <xs:element name="AddressActionSuccess" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>