TalentSupplyNet/Documents/XSD/Responses/DispatchAdviceResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DispatchAdviceRespnse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DispatchAdviceHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DispatchAdviceNumber" type="xs:unsignedInt" />
              <xs:element name="CustomerPO" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AccountNumber" type="xs:unsignedLong" />
        <xs:element name="DateHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Date">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedInt">
                      <xs:attribute name="Type" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element minOccurs="0" name="Attention" type="xs:string" />
              <xs:element name="AddressLine1" type="xs:string" />
              <xs:element name="AddressLine2" type="xs:string" />
              <xs:element name="AddressLine3" type="xs:string" />
              <xs:element name="AddressLine4" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="PostalCode" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="ShipToSuffix" type="xs:string"  minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ConsignmentHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SequenceNumber" type="xs:unsignedByte" />
              <xs:element name="NumberOfPackages" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MeasurementHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UnitOfMeasure" type="xs:string" />
              <xs:element name="Weight" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PackageHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdentificationHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Identification">
                      <xs:complexType>
                        <xs:attribute name="TrackingNumber" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LineHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LineItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Product">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Item">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Type" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SKUDescription1" type="xs:string" />
                          <xs:element name="SKUDescription2" type="xs:string" />
                          <xs:element name="SerialNumberHeader">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="SerialNumber" type="xs:unsignedLong" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="SKU" type="xs:string" use="required" />
                        <xs:attribute name="DispatchQuantity" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="LineNumber" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalLinesShipped" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>