TalentSupplyNet/Documents/XSD/Responses/DtypeOrderResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DtypeOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="ErrorStatus">
                <xs:complexType>
                  <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DocumentID" />
              <xs:element name="TransactionID" />
              <xs:element name="Company" />
              <xs:element name="TimeStamp" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderNumbers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BranchOrderNumber" type="xs:unsignedInt" />
                    <xs:element name="CustomerPO" type="xs:string" />
                    <xs:element name="ShipToAddress1" type="xs:string" />
                    <xs:element name="ShipToAddress2" type="xs:string" />
                    <xs:element name="ShipToCity" type="xs:string" />
                    <xs:element name="ShipToProvince" type="xs:string" />
                    <xs:element name="ShipToPostalCode" type="xs:string" />
                    <xs:element name="AddressErrorMessage">
                      <xs:complexType>
                        <xs:attribute name="AddressErrorType" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ContractNumber" />
                    <xs:element name="OrderSuffix">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DistributionWeight" type="xs:unsignedByte" />
                          <xs:element name="SuffixErrorResponse">
                            <xs:complexType>
                              <xs:attribute name="SuffixErrorType" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Carrier">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="CarrierCode" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LineInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ProductLine">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="LineError" />
                                      <xs:element name="SKU" type="xs:string" />
                                      <xs:element name="UnitPrice" type="xs:decimal" />
                                      <xs:element name="WestCoastLineNumber" type="xs:unsignedByte" />
                                      <xs:element name="ShipFromBranch" type="xs:unsignedByte" />
                                      <xs:element name="OrderQuantity" type="xs:string" />
                                      <xs:element name="AllocatedQuantity" type="xs:string" />
                                      <xs:element name="BackOrderedQuantity" type="xs:string" />
                                      <xs:element name="BackOrderETADate" type="xs:date" />
                                      <xs:element name="PriceDerivedFlag" />
                                      <xs:element name="ForeignCurrency" type="xs:unsignedByte" />
                                      <xs:element name="FreightRate" type="xs:unsignedByte" />
                                      <xs:element name="TransitDays" type="xs:unsignedByte" />
                                      <xs:element name="BillToSuffix" type="xs:unsignedByte" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="CommentLine">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="CommentLineNumber" type="xs:unsignedByte" />
                                      <xs:element name="CommentText" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Suffix" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>