TalentSupplyNet/Documents/XSD/Responses/ExternalSmartcardReprintResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost/TradingPortal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ExternalSmartcardReprintResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Version" type="xs:decimal" />
                <xs:element name="TransactionHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SenderID" />
                            <xs:element name="ReceiverID" />
                            <xs:element name="ErrorStatus">
                                <xs:complexType>
                                    <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DocumentID" type="xs:string" />
                            <xs:element name="TransactionID" type="xs:unsignedInt" />
                            <xs:element name="TimeStamp" type="xs:dateTime" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SmartcardReprints">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Response">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ReturnCode" />
                                        <xs:element name="TotalResults" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SmartcardReprint">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="CustomerNumber">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CustomerNumber" type="xs:string" />
                                                    <xs:element name="RealCustomerNumber" type="xs:string" />
                                                    <xs:element name="SmartcardNumber" type="xs:string" />
                                                    <xs:element name="Status" type="xs:string" />
                                                    <xs:element name="StatusInformation" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>