TalentSupplyNet/Documents/XSD/Responses/OrderDetailTicketingResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderDetailTicketingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderDetail">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReturnCode" type="xs:string" />
                    <xs:element name="CustomerNo" type="xs:unsignedLong" />
                    <xs:element name="PaymentReference" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OrderDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Quantity" type="xs:unsignedShort" />
                    <xs:element maxOccurs="unbounded" name="ProductDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomerNo" type="xs:unsignedLong" />
                          <xs:element name="ProductCode" type="xs:string" />
                          <xs:element name="ProductDescription" type="xs:string" />
                          <xs:element name="ProductDate" type="xs:string" />
                          <xs:element name="ProductTime" type="xs:string" />
                          <xs:element name="Seat" type="xs:string" />
                          <xs:element name="PriceCode" type="xs:string" />
                          <xs:element name="PriceBand" type="xs:string" />
                          <xs:element name="Price" type="xs:decimal" />
                          <xs:element name="Turnstiles" type="xs:string" />
                          <xs:element name="Gates" type="xs:string" />
                          <xs:element name="BarcodeValue" type="xs:string" />
                          <xs:element name="TicketID" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>