TalentSupplyNet/Documents/XSD/Responses/OrderTrackingResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="ErrorStatus">
                <xs:complexType>
                  <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DocumentID" />
              <xs:element name="TransactionID" />
              <xs:element name="Company" />
              <xs:element name="TimeStamp" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustomerPO" type="xs:unsignedByte" />
        <xs:element name="Order">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BranchOrderNumber" type="xs:unsignedInt" />
              <xs:element name="TotalWeight" type="xs:unsignedByte" />
              <xs:element name="CartonCount" type="xs:unsignedByte" />
              <xs:element name="Suffix">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Carrier">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Code" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Package">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ShipDate" type="xs:date" />
                          <xs:element name="BoxNumber" type="xs:unsignedByte" />
                          <xs:element name="BoxWeight" type="xs:unsignedByte" />
                          <xs:element name="TrackingURL" type="xs:string" />
                          <xs:element name="Contents">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SKU" type="xs:string" />
                                <xs:element name="Quantity" type="xs:unsignedByte" />
                                <xs:element name="CustomerSKU" type="xs:string" />
                                <xs:element name="SkuSerialNumber">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element maxOccurs="unbounded" name="SerialNumber" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SuffixNumber" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>