TalentSupplyNet/Documents/XSD/Responses/PaymentResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Payment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReturnCode" type="xs:string" />
                    <xs:element name="SessionId" type="xs:string" />
                    <xs:element name="CustomerNo" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ConfirmedDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PaymentReference" type="xs:unsignedLong" />
                    <xs:element name="WSFee" type="xs:decimal" />
                    <xs:element name="CreditcardFee" type="xs:decimal" />
                    <xs:element name="CarriageFee" type="xs:decimal" />
                    <xs:element name="TotalPrice" type="xs:decimal" />
                    <xs:element name="ShoppingBasket">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="ProductDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CustomerNo" type="xs:unsignedLong" />
                                <xs:element name="ProductCode" type="xs:string" />
                                <xs:element name="Seat" type="xs:string" />
                                <xs:element name="PriceCode" type="xs:string" />
                                <xs:element name="PriceBand" type="xs:string" />
                                <xs:element name="Price" type="xs:decimal" />
                                <xs:element name="CarriageMethod" type="xs:string" />
                                <xs:element name="CardPrint" type="xs:string" />
                                <xs:element name="SeatRestriction" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>