TalentSupplyNet/Documents/XSD/Responses/PNAResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PNAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="ErrorStatus">
                <xs:complexType>
                  <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DocumentID" />
              <xs:element name="TransactionID" />
              <xs:element name="Company" />
              <xs:element name="TimeStamp" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PriceAndAvailability">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Price" />
              <xs:element name="SpecialPriceFlag" />
              <xs:element name="AlternateSKU" />
              <xs:element name="AlternateSKUOccurs" />
              <xs:element name="VendorNumber" />
              <xs:element name="Description" />
              <xs:element name="ReserveInventoryFlag" />
              <xs:element name="AvailableRebQty" />
              <xs:element name="Branch">
                <xs:complexType>
                  <xs:attribute name="ID" type="xs:string" use="required" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Availability" />
              <xs:element name="OnOrder" />
              <xs:element name="ETADate" />
            </xs:sequence>
            <xs:attribute name="SKU" type="xs:string" use="required" />
            <xs:attribute name="Quantity" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>