TalentSupplyNet/Documents/XSD/Responses/ProductStadiumAvailabilityResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ProductStadiumAvailabilityResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="xs:decimal" />
				<xs:element name="TransactionHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SenderID" type="xs:string" />
							<xs:element name="ReceiverID" type="xs:string" />
							<xs:element name="CountryCode" type="xs:string" />
							<xs:element name="LoginID" type="xs:string" />
							<xs:element name="Password" type="xs:string" />
							<xs:element name="Company" type="xs:string" />
							<xs:element name="TransactionID" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProductList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Response">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReturnCode" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Products">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="Product">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ProductCode" type="xs:string" />
													<xs:element name="StandCode" type="xs:string" />
													<xs:element name="AreaCode" type="xs:string" />
													<xs:element name="Availability" type="xs:string" />
													<xs:element name="AdditionalText" type="xs:string" />
													<xs:element name="Capacity" type="xs:string" />
													<xs:element name="Reserved" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>