TalentSupplyNet/Documents/XSD/Responses/ProductSeatAvailabilityResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductSeatAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProductList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ErrorOccurred" type="xs:string" />
                    <xs:element name="ReturnCode" type="xs:string" />
                    <xs:element name="RowTotal" type="xs:string" />
                    <xs:element name="ColumnTotal" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Rows">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Row">
                      <xs:complexType>
                        <xs:attribute name="RowName" type="xs:string" />
                        <xs:attribute name="RowCapacity" type="xs:string" />
                        <xs:attribute name="RowSequence" type="xs:string" />
                        <xs:attribute name="RowDetail" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>