TalentSupplyNet/Documents/XSD/Responses/ProductListResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ProductListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="xs:decimal" />
				<xs:element name="TransactionHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SenderID" type="xs:string" />
							<xs:element name="ReceiverID" type="xs:string" />
							<xs:element name="CountryCode" type="xs:string" />
							<xs:element name="LoginID" type="xs:string" />
							<xs:element name="Password" type="xs:string" />
							<xs:element name="Company" type="xs:string" />
							<xs:element name="TransactionID" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProductList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Response">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReturnCode" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Products">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="Product">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ProductCode" type="xs:string" />
													<xs:element name="ProductDescription" type="xs:string" />
													<xs:element name="ProductDate" type="xs:string" />
													<xs:element name="ProductTime" type="xs:string" />
													<xs:element name="ProductDateISO" type="xs:string" />
													<xs:element name="ProductTime24H" type="xs:string" />
													<xs:element name="ProductPriceBand" type="xs:string" />
													<xs:element name="ProductApplicable" type="xs:string" />
													<xs:element name="ProductType" type="xs:string" />
													<xs:element name="ProductRequiredMembership" type="xs:string" />
													<xs:element name="ProductRequiredMembershipDescription" type="xs:string" />
													<xs:element name="ProductRequiredMembershipPurchased" type="xs:string" />
													<xs:element name="ProductEntryTime" type="xs:string" />
													<xs:element name="ProductTicketLimit" type="xs:string"  />
													<xs:element name="ProductStadiumCode" type="xs:string" />
													<xs:element name="ProductAssociatedTravelProductCode" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>