TalentSupplyNet/Documents/XSD/Responses/ProductDetailsResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string" />
              <xs:element name="ReceiverID" type="xs:string" />
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="LoginID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
              <xs:element name="Company" type="xs:string" />
              <xs:element name="TransactionID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProductDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReturnCode" type="xs:string" />
                    <xs:element name="SessionId" type="xs:string" />
                    <xs:element name="ProductCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Stands">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="StandDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StandCode" type="xs:string" />
                          <xs:element name="StandDescription" type="xs:string" />
                          <xs:element maxOccurs="unbounded" name="AreaDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaCode" type="xs:string" />
                                <xs:element name="AreaDescription" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PriceBands">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="PriceBandDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PriceBand" type="xs:string" />
                          <xs:element name="PriceBandDescription" type="xs:string" />
                          <xs:element name="PriceBandPriority" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
