TalentSupplyNet/Documents/XSD/Responses/RMAStatusResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RMAStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="ErrorStatus">
                <xs:complexType>
                  <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DocumentID" />
              <xs:element name="TransactionID" />
              <xs:element name="Company" />
              <xs:element name="TimeStamp" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RMAStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BranchOrderNumber" type="xs:unsignedInt" />
              <xs:element name="CustomerPO" type="xs:string" />
              <xs:element name="OrderSuffix" type="xs:unsignedByte" />
              <xs:element name="OrderStatus" type="xs:string" />
              <xs:element name="Total" type="xs:decimal" />
              <xs:element name="EntryDate" type="xs:date" />
              <xs:element name="InvoiceDate" type="xs:date" />
              <xs:element name="RMAReason">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Code" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>