TalentSupplyNet/Documents/XSD/Responses/SendEmailResponse10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost/TradingPortal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" />
              <xs:element name="ReceiverID" />
              <xs:element name="ErrorStatus">
                <xs:complexType>
                  <xs:attribute name="ErrorNumber" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DocumentID" type="xs:string" />
              <xs:element name="TransactionID" type="xs:unsignedShort" />
              <xs:element name="TimeStamp" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>